@page "/"
@using CosmeticFinder.FE.Gateways
@using CosmeticFinder.FE.Gateways.Requests
@using CosmeticFinder.FE.Gateways.Responses

@layout MainLayout
@inject ICosmeticFinder CosmeticFinderApi

@*<div class="container mt-3">*@
   
    
   
 
  @*  <div class="d-flex justify-content-between
             mb-3 text-white">
        <div class="p-2 fill_compose"><input type="text" name="skladnik" placeholder="Wpisz składnik" @bind="@_searchText"></div>
        <div class="p-2 category">
            <select class="category" @bind="@SelectedCategoryId">
                <option value="0" selected>Wybierz kategorię</option>
                @if (_categories is not null)
                {
                    @foreach (var item in _categories)
                    {
                        <option value="@item.Id"> @item.Name </option>
                    }
                }
            </select>
        </div>
        <div class="p-2">
            <button type="button" class="search-btn " role="button" @onclick="e => FindCosmetics(_pageNumber = 1)">Szukaj</button>
        </div>
    </div>*@
   


<div class="container">
    <div class="search_properties">
        <form class="form-inline">
            
            <div class="fill_compose">
                    <input type="text" name="skladnik" placeholder="Wpisz składnik" @bind="@_searchText">
                </div>
            <div class=" category">
                <select class="category" @bind="@SelectedCategoryId">
                        <option value="0" selected>Wybierz kategorię</option>
                        @if (_categories is not null)
                        {
                            @foreach (var item in _categories)
                            {
                                <option value="@item.Id"> @item.Name </option>
                            }
                        }
                    </select>
                </div>
                @*<label>
                    <input type="checkbox" name="remember"> Remember me
                </label>*@
            <button type="button" class="search-btn " role="button" @onclick="e => FindCosmetics(_pageNumber = 1)">Szukaj</button>
           
           
        </form>
    </div>
   
    @*<div class="fill_compose  form-group">
        <input type="text" name="skladnik" placeholder="Wpisz składnik" @bind="@_searchText">
    </div>

    <div class="category">
        <select class="category" @bind="@SelectedCategoryId">
            <option value="0" selected>Wybierz kategorię</option>
            @if (_categories is not null)
            {
                @foreach (var item in _categories)
                {
                    <option value="@item.Id"> @item.Name </option>
                }
            }
        </select>
    </div>

    <button type="button" class="search-btn btn btn-outline-primary " role="button" @onclick="e => FindCosmetics(_pageNumber=1)">Szukaj</button>
    
    <div class="morethanone">
        Wiele składników oddziel przecinkami
    </div>*@


    <div class="popularne">
        <h4>WYBIERZ Z POPULARNYCH WYSZUKIWAŃ</h4>
    </div>
    <button type="button" class="btn btn-outline-primary">Primary</button>
    <button type="button" class="btn btn-outline-primary">Primary</button>
    <button type="button" class="btn btn-outline-primary">Primary</button>
    <button type="button" class="btn btn-outline-primary">Primary</button>
    <button type="button" class="btn btn-outline-primary">Primary</button>
    <button type="button" class="btn btn-outline-primary">Primary</button>
    <button type="button" class="btn btn-outline-primary">Primary</button>
    @*<button class="popularne-btn" role="button">Bez silikonów </button >
    <button class="popularne-btn" role="button">Nie dla wegan </button >
    <button class="popularne-btn" role="button">Bez alergenów </button >
    <button class="popularne-btn" role="button">Nie dla kobiet w ciąży </button >
    <button class="popularne-btn" role="button">Kosmetyki naturalne </button >
    <button class="popularne-btn" role="button">Bez substancji zapachowych </button >*@

    @if (_cosmetics is not null)
    {
        <div class="details">
            <div class="total-count">
                @_totalRecords wyników
            </div>
            <div class="sort">
                <Sort OnSortChanged="SortChanged"></Sort>
            </div>
        </div>


        <div class="product-list">
            <ProductList Cosmetics="_cosmetics"></ProductList>
        </div>
        <div class="pagination">
            <Pagination TotalPagesQuantity="_totalPages" CurrentPage="_pageNumber" Radius="2" SelectedPage="SelectedPage"></Pagination>
        </div>
    }
</div> 

@code {
    private int _totalPages;
    private int _pageNumber = 1;
    private int _totalRecords;

    private string? _searchText = "ascorbic acid";
    readonly SearchOption _searchOption = new();
    bool SelectedSearchOption { get; set; } = true;
    int SelectedCategoryId { get; set; }
    private bool _isLoading;

    private string _sortField = "id";
    private bool _ascending = true;

    private IEnumerable<CategoryResponse>? _categories;
    private IEnumerable<CosmeticResponse>? _cosmetic;
    private CosmeticsResponse? _cosmetics;
    
    public record SearchOption
    {
        public bool IsContain { get; set; }
        public string Name { get; set; }
    }

    readonly List<SearchOption> _searchOptions = new()
    {
        new SearchOption {IsContain = true, Name ="  Zawiera   "},
        new SearchOption {IsContain = false, Name ="  Nie zawiera"}
    };
  
    protected override async Task OnInitializedAsync()
    {
        _categories = await CosmeticFinderApi.GetCategories();
    }

    private async Task SelectedPage(int page)
    {
        _pageNumber = page;
        await FindCosmetics(_pageNumber);
    }

    private async Task SortChanged(string orderBy)
    {
       
        if (orderBy == "Nazwa a-z")
        {
            _sortField = "brand";
            _ascending = true;
        }
        else if (orderBy == "Nazwa z-a")
        {
            _sortField = "brand";
            _ascending = false;
        }
        else if (orderBy == "Cena rosnąco")
        {
            _sortField = "price";
            _ascending = true;
        }
        else if (orderBy == "Cena malejąco")
        {
            _sortField = "price";
            _ascending = false;
        }
        else
        {
            _sortField = "price";
            _ascending = false;
        }
        await FindCosmetics(1);
        await SelectedPage(1);
    } 

    async Task FindCosmetics(int page=1, int quantityPerPage = 24)
    {
        if (_searchText is not null && !string.IsNullOrWhiteSpace(_searchText) && SelectedCategoryId != 0)
        {
            var request = new GetCosmeticsRequest
            {
                PageNumber = page,
                PageSize = quantityPerPage,
                Search = _searchText,
                MainCategoryId = SelectedCategoryId,
                SortField = _sortField,
                Ascending = _ascending,
                ShouldContainCompose = SelectedSearchOption
            };
            LoadingOn();
            _cosmetics = await CosmeticFinderApi.GetCosmetic(request);
            _totalPages=_cosmetics.TotalPages;
            _totalRecords = _cosmetics.TotalRecords;
            LoadingOff();
        }
    }

    void LoadingOn()
    {
        _isLoading = true;
    }
    
    void LoadingOff()
    {
        _isLoading = false;
    }
}